.tile {
  display: flex;
  flex-direction: column;
  gap: 12px;
  background-color: var(--bg-color);
  color: var(--text-color);
  border-radius: 10px;
  padding: 12px;
  width: 250px;
  box-shadow: 0 2px 4px var(--body-color), 0 8px 16px var(--body-color);
}
.tile__value-container {
  display: flex;
  justify-content: space-between;
}

.tile__title-container {
  min-width: 120px;
  display: flex;
  justify-content: space-between;
}

.tile__indicator {
  min-width: none;
  background-color: #9272c5;
  border-radius: 12px;
  padding: 2px 6px;
  color: #57154c;
  font-size: 12px;
}

.tile__indicator-negative {
  background-color: #f8d7da;
  color: #721c24;
}

.tile__title {
  margin-left: -6px;
  color: grey;
  font-size: 12px;
}

.tile__value {
  font-size: 24px;
  font-weight: 500;
}

.tile__symbol-container {
  background-color: whitesmoke;
  border-radius: 12px;
  padding: 2px 4px;
  font-size: 12px;
  width: fit-content;
  color: gray;
}
