:root {
  --bg-color: #ffffff;
  --body-color: #121212;
  --body-text-color: #f0f0f0;
  --text-color: #000000;
  --primary-color: #007bff;
}

body.dark-mode {
  --bg-color: #121212;
  --body-color: #ffffff;
  --text-color: #f0f0f0;
  --body-text-color: #000000;
  --primary-color: #1e90ff;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

body {
  background-color: var(--body-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}
